.game-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.game-frame1 {
  width: 100%;
  height: 1080px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.game-background {
  top: 0px;
  left: 0px;
  width: 1919px;
  height: 1096px;
  position: absolute;
}
.game-title {
  top: -6px;
  left: 309px;
  width: 1229px;
  height: 265px;
  position: absolute;
}
.game-navlink {
  display: contents;
}
.game-home {
  top: 36px;
  left: 58px;
  width: 137px;
  height: 130px;
  position: absolute;
  text-decoration: none;
}
.game-red-fridge {
  top: 205px;
  left: 23px;
  width: 872px;
  height: 887px;
  position: absolute;
}
.game-blue-fridge {
  top: 205px;
  right: 23px;
  width: 872px;
  height: 887px;
  position: absolute;
}
.game-unstaked {
  top: 263px;
  left: 115px;
  width: 300px;
  height: 75px;
  position: absolute;
}
.game-staked {
  top: 267px;
  left: 1112px;
  width: 300px;
  height: 75px;
  position: absolute;
}
.game-stake {
  left: 502px;
  width: 300px;
  bottom: 150px;
  height: 71px;
  position: absolute;
}
.game-claim {
  right: 113px;
  width: 300px;
  bottom: 150px;
  height: 75px;
  position: absolute;
}
@media(max-width: 1600px) {
  .game-title {
    top: -4px;
    left: 215px;
  }
  .game-red-fridge {
    top: 265px;
    left: -2px;
    width: 794px;
    height: 722px;
  }
  .game-blue-fridge {
    top: 271px;
    right: 19px;
    width: 794px;
    height: 722px;
  }
  .game-unstaked {
    top: 306px;
    left: 69px;
  }
  .game-staked {
    top: 306px;
    left: 862px;
  }
  .game-stake {
    top: 784px;
    left: 422px;
  }
  .game-claim {
    top: 784px;
    right: 91px;
  }
}
@media(max-width: 1200px) {
  .game-title {
    width: 939px;
    height: 255px;
  }
  .game-red-fridge {
    top: 275px;
    left: -10px;
    width: 612px;
    height: 637px;
  }
  .game-blue-fridge {
    top: 275px;
    right: -6px;
    width: 612px;
    height: 637px;
  }
  .game-unstaked {
    top: 305px;
    left: 41px;
    width: 221px;
    height: 67px;
  }
  .game-staked {
    top: 305px;
    left: 653px;
    width: 221px;
    height: 67px;
  }
  .game-stake {
    top: 735px;
    left: 324px;
    width: 221px;
    height: 67px;
  }
  .game-claim {
    top: 735px;
    right: 51px;
    width: 221px;
    height: 67px;
  }
}
