.game-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.game-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.game-frame1 {
  width: 100%;
  height: 1080px;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
}
.game-background {
  top: 0px;
  left: 0px;
  width: 1919px;
  height: 1096px;
  position: absolute;
}
.game-title {
  top: -24px;
  left: 309px;
  width: 1229px;
  height: 265px;
  position: absolute;
}
.game-navlink {
  display: contents;
}
.game-home {
  top: 36px;
  left: 58px;
  width: 137px;
  height: 130px;
  position: absolute;
  text-decoration: none;
}
.game-red-fridge {
  top: 205px;
  left: 23px;
  width: 872px;
  height: 887px;
  position: absolute;
}
.game-blue-fridge {
  top: 205px;
  right: 23px;
  width: 872px;
  height: 887px;
  position: absolute;
}
.game-unstaked {
  top: 265px;
  left: 115px;
  width: 300px;
  height: 75px;
  z-index: 100;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius4);
}
.game-staked {
  top: 265px;
  left: 1110px;
  width: 300px;
  height: 75px;
  z-index: 100;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius4);
}
.game-stake {
  left: 502px;
  width: 300px;
  bottom: 150px;
  height: 71px;
  position: absolute;
}
.game-claim {
  right: 113px;
  width: 300px;
  bottom: 150px;
  height: 75px;
  position: absolute;
}
@media(max-width: 1600px) {
  .game-title {
    top: -4px;
    left: 215px;
  }
  .game-red-fridge {
    top: 265px;
    left: -2px;
    width: 794px;
    height: 722px;
  }
  .game-blue-fridge {
    top: 265px;
    right: 19px;
    width: 794px;
    height: 722px;
  }
  .game-unstaked {
    top: 300px;
    left: 69px;
  }
  .game-staked {
    top: 300px;
    left: 865px;
  }
  .game-stake {
    top: 784px;
    left: 422px;
  }
  .game-claim {
    top: 784px;
    right: 91px;
  }
}
@media(max-width: 1200px) {
  .game-title {
    width: 939px;
    height: 255px;
  }
  .game-red-fridge {
    top: 275px;
    left: -10px;
    width: 612px;
    height: 637px;
  }
  .game-blue-fridge {
    top: 275px;
    right: -6px;
    width: 612px;
    height: 637px;
  }
  .game-unstaked {
    top: 305px;
    left: 41px;
    width: 221px;
    height: 67px;
  }
  .game-staked {
    top: 305px;
    left: 653px;
    width: 221px;
    height: 67px;
  }
  .game-stake {
    top: 735px;
    left: 324px;
    width: 221px;
    height: 67px;
  }
  .game-claim {
    top: 735px;
    right: 51px;
    width: 221px;
    height: 67px;
  }
}
@media(max-width: 991px) {
  .game-background {
    top: -12px;
    left: -459px;
  }
  .game-title {
    top: -4px;
    right: 73px;
    width: 765px;
    height: 245px;
  }
  .game-home {
    width: 77px;
    height: 76px;
  }
  .game-red-fridge {
    top: 277px;
    left: -12px;
    width: 536px;
    height: 523px;
  }
  .game-blue-fridge {
    top: 277px;
    right: -20px;
    width: 536px;
    height: 523px;
  }
  .game-unstaked {
    top: 287px;
    left: 23px;
  }
  .game-staked {
    top: 287px;
    left: 517px;
  }
  .game-stake {
    top: 739px;
    left: 266px;
  }
  .game-claim {
    top: 737px;
    right: 23px;
  }
}
@media(max-width: 767px) {
  .game-background {
    top: -2px;
    left: -555px;
  }
  .game-title {
    top: 18px;
    left: 151px;
    width: 509px;
    height: 213px;
  }
  .game-red-fridge {
    top: 175px;
    left: 166px;
    width: 427px;
    height: 467px;
  }
  .game-blue-fridge {
    top: 600px;
    left: 166px;
    width: 427px;
    bottom: 21px;
    height: 467px;
  }
  .game-unstaked {
    top: 583px;
    left: 177px;
  }
  .game-staked {
    top: 583px;
    left: 375px;
    right: 171px;
  }
  .game-stake {
    top: 1000px;
    left: 174px;
  }
  .game-claim {
    top: 1000px;
    left: 375px;
    right: 170px;
    bottom: 6px;
  }
}
@media(max-width: 479px) {
  .game-title {
    top: 4px;
    left: 70px;
    right: 50px;
    width: 369px;
    height: 193px;
  }
  .game-home {
    top: 24px;
    left: 16px;
    width: 44px;
    height: 44px;
  }
  .game-red-fridge {
    top: 650px;
    right: -4px;
    width: 479px;
    bottom: 36px;
    height: 399px;
  }
  .game-blue-fridge {
    top: 211px;
    left: -12px;
    width: 479px;
    height: 399px;
  }
  .game-unstaked {
    top: 645px;
    left: 15px;
  }
  .game-staked {
    top: 207px;
    left: 11px;
  }
  .game-stake {
    top: 1000px;
    left: 220px;
    right: 32px;
    bottom: 12px;
  }
  .game-claim {
    top: 561px;
    right: 33px;
  }
}
